.table[data-cave-key] .fa-venus {
    color: pink;
}

.table[data-cave-key] .fa-mars {
    color: skyblue;
}

@font-face {
    font-family: 'Aquiline Two'; /* set name */
    src: url(AquilineTwo.ttf); /* url of the font */
}

.pack-title {
    font-family: 'Aquiline Two';
    font-size: 36px;
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 3;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
