.table[data-cave-key] .fa-venus {
    color: pink;
}

.table[data-cave-key] .fa-mars {
    color: skyblue;
}

.card.mb-3 > [href*='/wolf/'] > .card-img-top {
    --angle: 0deg;
	border: 5px solid;
	border-image: conic-gradient(from var(--angle), 
        red, 
        yellow, 
        lime, 
        aqua, 
        blue,
        magenta, 
        red
    ) 1;
	animation: 10s rotate linear infinite;
}

@keyframes rotate {
	to {
		--angle: 360deg;
	}
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
